<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Todo: projects</title>
    <link href="https://igoradamenko.github.io/awsm.css/css/awsm.min.css" rel="stylesheet">
</head>
<body>
<main>
    <!--/*@thymesVar id="project" type="pl.app.todoapp.model.projection.ProjectWriteModel"*/-->
    <form action="#" method="post" th:action="@{/projects}" th:object="${project}">
    <fieldset>
        <legend>Nowy projekt</legend>
        <label>Opis
            <input th:field="*{description}" type="text"/>
        </label>
        <fieldset th:each="step, stepStat: *{steps}">
            <legend th:text="|Krok ${stepStat.index + 1}|"></legend>
            <label>Opis
                <input th:field="*{steps[__${stepStat.index}__].description}" type="text"/>
            </label>
            <label>Dni przed koncem projektu
            <input th:field="*{steps[__${stepStat.index}__].daysToDeadline}" type="text"/>
        </label>
        </fieldset>
    </fieldset>
    </form>
</main>

</body>
</html>